@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend+Exa:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee";
}

body{
    background-color: beige;
    text-align: center;
}

.title{
    margin: 5rem 2rem 0 2rem;
    font-size: 2.1rem;
}


.game-container{
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.box{
    cursor: pointer;
    background-color: #c3c8ae;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    border: 3px solid beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7rem;
    transition: all 0.3s linear;
}
.box:hover{
    transform: scale(1.05);
}

.left-section{
    display: grid;
    /* border: 2px solid black; */
    grid-template-columns: repeat(3,1fr);
}


.right-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.result h2{
    font-size: 2.2rem;
}
.winner{
    font-size: 1.5rem;
}
.note{
    font-family: "Poppins" , sans-serif;
    width: 370px;
    font-size: 0.9rem;
}
.result{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #c3c8ae;
    padding: 15px 100px;
    border-radius: 20px;
}
.btn{
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}




@media screen and (max-width:950px) {
    .game-container{
        flex-direction: column;
        gap: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .title{
        margin: 2rem;
        font-size: 1.4rem;
    }
    .game-container{
        margin: 2rem;
        gap: 3rem;
    }
    .result{
        padding: 15px 70px;
    }
}